* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-column: 1;
    grid-template-rows: min-content 1fr 1fr;
    margin-left: 30px;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    margin-left: 20px;
    display: grid;
    gap: 25px;
}

.sidebar-upper {
    margin-top: 20%;
}
.sidebar-lower {
    margin-top: 80%;
}

.sidebar h3, .sidebar h2 {
    display: inline;
}

article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    height: 100vh;
    overflow: hidden;
}

header {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1.5fr 1fr;
    margin-right: 10px;
    align-items: center;
}

.left-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

header nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
    align-items: center;
    justify-items: center;
}

header .profile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}


.left-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

.hero {
    margin: 10px;
}

.hero button {
    margin-top: 40px;
}

.ticket-section {
    display: grid;
    grid-template-rows: auto 1fr;
}


.ticket-section .section-title {
    margin-bottom: 10px;
}

.tickets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 65vh;
    overflow: auto;
}

.right-section {
    display: grid;
    grid-template-rows: auto auto;
    height: 100vh;
    gap: 30px;
    margin-right: 10px;
}

.announcements {
    display: grid;
    gap: 10px;
}

.announcements p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
 }

 .tickets p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
 }

 .ticket {
    display: grid;
    gap: 5px;
 }

 .ticket footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
 }

 .ticket h3 {
    font-size: 1.2rem;
 }



 .task {
    display: grid;
    grid-template-columns: 3fr 1fr;
 }

 .task h3 {
    font-size: 1rem;
 }